.layout {
    width: 1366px;
    height: 768px;
    
        display: grid;
        grid:
        "header header header" auto
        "leftSide body rightSide" 1fr
        "footer footer footer" auto
        / auto 1fr auto;
        gap: 8px;
    }
    

.card-list {
    list-style: none;
    padding: 0;
    }
    
.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card-img-top {
    max-height: 200px; 
    object-fit: cover; 
}
